* {
    padding: 0;
    margin: 0;   
}

body {
    font-family: 'calibri';
    background-image: url('../img/background.png');
    background-repeat: no-repeats;
    background-size: cover;
    background-position: bottom left;
    background-attachment: fixed;
} 

/* .drop-cap::first-letter {
    font-size: 3rem;
    font-weight: 600;

    float: left;
    line-height: 2rem;

    margin-right: 0.5rem;
} */

/* Navigation bar */
nav li{
    /* positions elements in the navbar to the left */
    float: left; 
}

nav ul {
    list-style: none; 
}

nav {
    /* positions elements to the right and adds a line break */
    display: flex; 
    /* inverts the order of the list in the nav bar */
    flex-direction: row-reverse; 
}

nav li a {
    display: block;
    color: #333;
    padding: 14px 16px;
    text-decoration: none; 
}

nav li a:hover {
    background-color: #333; 
    /* sets a smooth transition between nav buttons */
    transition: background-color .3s; 
    color: white; 
}

nav .active-nav {
    /* underline active nav button */
    text-decoration: underline; 
}

.call-action{
    text-decoration: none;
    color: #343434;
}

.call-action :hover {
    text-decoration: underline;
}

.heading {
    /* shifts entire heading section to center */
    text-align: center; 
}

.heading h1 {
    /* specify heading size */
    font-size: 46px; 
}

/* targets body content like paragraphs */
.content {
    text-align: center; 
}

.content h2 {
    /* space out heading */
    padding: 1%; 
}

.cover-image { /* cover image properties */
    width: 298px;
    height: 421px;
    margin-left: 1%;
    margin-right: 1%;
}

.cover-image:hover {
    /* adds shadow on blog image */
    box-shadow: 10px 10px 20px -10px #333;
    /* adds smooth transition of shadow */
    transition: box-shadow 0.3s ease-in;
    /* adds smooth transition of zoom in effect */
    transition: ease-in 0.3s;
    /* adds effect to zoom in subject */
    transform: scale(1.05);
}

.row {
    text-align: center;
}

.blog {
    text-align: justify;
    box-shadow: 0 0 5px 0 ; 
    background: inherit; 
    backdrop-filter: blur(10px); 
    margin: 20px;
    padding: 2%;
    border-radius: 20px;
}

.glass {
    margin-left: auto;
    margin-right: auto;
}

.blog-image {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 300px;
    height: 300px;
    /* adds rounded corners to blog image */
    border-radius: 20px;
}

.blog-image:hover {
    /* adds shadow on blog image */
    box-shadow: 10px 10px 20px -10px #333;
    /* adds smooth transition of shadow */
    transition: box-shadow 0.3s ease-in;
    /* adds smooth transition of zoom in effect */
    transition: ease-in 0.3s;
    /* adds effect to zoom in subject */
    transform: scale(1.05);
}

/* adds space after paragraph */
p {
    padding-bottom: 1%;
    padding-top: 1%;
}

/* formats the table spaces and maintains one border */
table {
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 5px 0 ; 
    background: inherit; 
    backdrop-filter: blur(10px); 
    margin: 2px;
    padding: 0;
}

/* sets solid line for the table and cells */
td {
    border: 1px solid rgba(141, 141, 141, 0.151);
    text-align: left;
}

/* customizes the table heading */
th {
    background-color: #343434;
    color: burlywood;
}

/* adds space within each cell */

th, td {
    margin: 1%;
    padding: 10px;
}

/* customizes horizontal rules */
hr {
    margin-top: 2%;
    border: 0.5px solid #333;
    margin-left: 30%;
    margin-right: 30%;
}

/* formats social media icons on about page */
.icons {
    margin-top: 2%;
    width: auto;
}

/* formatting input */
input, select{
    padding: 1%;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 2%;
    width: 25%;
}

/* formats footer */
footer {
    text-align: center;
    width: 100%;
    padding-top: 2%;
}

#mydiv {
    position: fixed;
    z-index: 9;
    /* background-color: #f1f1f1;
    border: 1px solid #d3d3d3; */
    text-align: center;
    color: #333;
    box-shadow: 0 0 5px 0 ; 
    background: inherit; 
    backdrop-filter: blur(10px); 
  }

  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: #2196F3; */
    
  }

/* responsive media queries */

/* screens below 1024px such as tablets and mobile devices */
@media all and (width < 1024px) {
    .content {
        height: auto;
    }
    .blog {
        margin-left: 15%;
        margin-right: 15%;
    }

    .blog-image {
        width: 200px;
        height: 200px;
    }

    .dots {
        display:none;
    }
}

/* screens below 1024px such as laptops and desktops */
@media all and (width > 1024px) {
    .blog {
        margin-left: 25%;
        margin-right: 25%;
    }
}