body{
    font-family: 'calibri';
    padding: 0;
    margin: 0;
    background-color:burlywood;
}

/* Navigation bar */
nav li{
    /* positions elements in the navbar to the left */
    float: left; 
}

nav ul {
    list-style: none; 
}

nav {
    /* positions elements to the right and adds a line break */
    display: flex; 
    /* inverts the order of the list in the nav bar */
    flex-direction: row-reverse; 
}

nav li a {
    display: block;
    color: #333;
    padding: 14px 16px;
    text-decoration: none; 
}

nav li a:hover {
    background-color: #333; 
    /* sets a smooth transition between nav buttons */
    transition: background-color .3s; 
    color: white; 
}

nav .active {
    /* underline active nav button */
    text-decoration: underline; 
}

.heading {
    /* shifts entire heading section to center */
    text-align: center; 
}

.heading h1 {
    /* specify heading size */
    font-size: 46px; 
}

/* targets body content like paragraphs */
.content {
    text-align: center; 
    height: 100vh;
    overflow: auto;
}

.content h2 {
    /* space out heading */
    padding: 1%; 
}

.cover-image { /* cover image properties */
    width: 298px;
    height: 421px;
    margin-left: 1%;
    margin-right: 1%;
    /* applys shadow on cover image */
    box-shadow: 10px 10px 20px -10px #333; 
}

.blog {
    text-align: justify;
}

.blog-image {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 300px;
    height: 300px;
    /* applys rounded corners to blog image */
    border-radius: 10px;  
    /* applys shadow on blog image */
    box-shadow: 10px 10px 20px -10px #333;  
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td {
    margin: 1%;
    padding: 10px;
}

hr {
    margin-top: 2%;
    border: 0.5px solid #333;
    margin-left: 30%;
    margin-right: 30%;
}

.clock-icon {
    margin-top: 1%;
    width: auto;
}

footer {
    text-align: center;
    width: 100%;
    padding-top: 2%;
}

/* responsive media queries */

/* screens below 1024px such as tablets and mobile devices */
@media all and (width < 1024px) {
    .blog {
        margin-left: 15%;
        margin-right: 15%;
    }

    .blog-image {
        width: 200px;
        height: 200px;
    }
}

/* screens below 1024px such as laptops and desktops */
@media all and (width > 1024px) {
    .blog {
        margin-left: 25%;
        margin-right: 25%;
    }
}